@import url(link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet");

body{
font-family: 'PT Serif', serif;
background-image: 
color: #ffffff:
margin: 10,
}
a{
color: black;
}
